
/**
*Override CSS's
*/
.bg-light {
  background-color: #b3d7ff!important;
}
.margin-top-20{
  margin-top:20px;
}
.feature-img{
  max-height: 200px;
}

.footer-bottom{
  padding: 20px;
  margin-top: 20px;
  background: skyblue;
}